.sconf_temp
.sconsign.dblite
config.log
doc/htmlDir
*.dylib
*.o
*.os
*.pyc
*.so
/tests/.tests
/tests/testDebug
/tests/testDebug_results.txt
/tests/testDefLog
/tests/testLog
/tests/testLogDestination
/tests/testLogDestination_results.txt
/tests/testLogFormatter
/tests/testLogRecord
/tests/testLog_results.txt
/tests/testNoDebug
/tests/testNoDebug_results.txt
/tests/testNoTrace
/tests/testPropertyPrinter
/tests/testThresholdMemory
/tests/testTrace
doc/htmlDir
examples/debug
examples/log
examples/trace
python/lsst/pex/logging/loggingLib.py
python/lsst/pex/logging/loggingLib_wrap.*
python/lsst/pex/logging/version.py
tests/testBlockTimingLog
tests/testFileDest
tests/testFileDestination-out.txt
tests/timeSyscalls
ups/*.cfgc
