.sconsign.dblite
config.log
.sconf_temp
*.dylib
*.o
*.os
*.so
*.cfgc
*.pyc
*_wrap.cc
.coverage
pytest_session.txt
doc/html
doc/xml
doc/*.tag
doc/*.inc
doc/doxygen.conf
tests/.tests
tests/.cache
version.py
examples/debug
examples/log
examples/trace
tests/test_blockTimingLog
tests/test_debug
tests/test_debug_results.txt
tests/test_defLog
tests/test_fileDest
tests/testFileDestination-out.txt
tests/test_log
tests/test_logDestination
tests/test_logDestination_results.txt
tests/test_logFormatter
tests/test_logRecord
tests/test_log_results.txt
tests/test_noDebug
tests/test_noDebug_results.txt
tests/test_noTrace
tests/test_propertyPrinter
tests/test_thresholdMemory
tests/test_trace
tests/test_timeSyscalls
