
# /
/.*
/anexample.log
/config.log
/example.log

# /doc/
/doc/htmlDir

# /examples/
/examples/.tests
/examples/debug
/examples/log
/examples/trace

# /lib/
/lib/*.dylib
/lib/*.so

# /python/lsst/pex/logging/
/python/lsst/pex/logging/*.pyc
/python/lsst/pex/logging/*.so
/python/lsst/pex/logging/loggingLib.py
/python/lsst/pex/logging/loggingLib_wrap.*

# /src/
/src/*.os

# /src/threshold/
/src/threshold/*.os

# /tests/
/tests/.tests
/tests/testDebug
/tests/testDebug_results.txt
/tests/testDefLog
/tests/testLog
/tests/testLogDestination
/tests/testLogDestination_results.txt
/tests/testLogFormatter
/tests/testLogRecord
/tests/testLog_results.txt
/tests/testNoDebug
/tests/testNoDebug_results.txt
/tests/testNoTrace
/tests/testPropertyPrinter
/tests/testThresholdMemory
/tests/testTrace
